@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-VeryDarkBlue;
    background-image: url("../../assets/images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 50%;
  }

  #container {
    @apply h-screen  flex items-center justify-center;
  }
  #flexContainer {
    @apply w-[80vw];
  }
}
@media screen and (max-width: 910px) {
  body {
    background-image: url("../../assets/images/bg-mobile.png");
    background-size: cover;
  }
  #flexContainer {
    @apply flex-col justify-between h-[33rem] w-[85vw];
  }
}
